.video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .video-title {
    text-align: center;
    margin-top: 4rem;
    padding: 0 2rem;
    font-size: 1.5rem;
    margin-bottom: 1.75rem;

    @media screen and (width >= 800px) {
      font-size: 1.8rem;
      margin-top: 6rem;
    }
  }

  .backButton {
    align-self: flex-start;
    position: absolute;
    top: -1.5rem;
  }

  .video-playback {
    width: 75%;
    height: auto;
    aspect-ratio: 16 / 9;
  }

  .video-description {
    margin-top: 2rem;
    width: 75%;
  }

  .favorite-button {
    background: transparent;
    border: none;
    cursor: pointer;
  }

  .video-metadata {
    display: flex;
    margin: 0;
    max-width: none;

    &.full {
      justify-content: space-around;
    }

    &.short {
      justify-content: space-evenly;

      @media screen and (width >= 800px) {
        gap: 2rem;
      }
    }
  }
}

.redirection-message {
  white-space: pre-wrap;
  line-height: 2em;
  display: block;
  text-align: center;
}

.related-videos {
  margin-top: 4em;
}
