.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2;
  margin-top: 3rem;

  hr {
    width: 98%;
  }

  ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding: 0;
  }
}
