.searchForm {
  --searchbar-size: 2rem;
  --_radius: 0.625rem;

  display: flex;
  justify-content: center;
}

#search {
  border-top-left-radius: var(--_radius);
  border-bottom-left-radius: var(--_radius);
  padding-left: 1rem;
  border: 1px solid transparent;

  @media screen and (width >= 800px) {
    width: 40rem;
  }
}

#search:focus {
  outline: none;
  border: 2px solid var(--accent-color);
}

.searchButton {
  font-weight: bold;
  width: calc(var(--searchbar-size) + 0.25rem);
  height: calc(var(--searchbar-size) + 0.25rem);
  background-color: var(--accent-color);
  border: 0.125rem solid var(--accent-color);
  border-top-right-radius: var(--_radius);
  border-bottom-right-radius: var(--_radius);
  cursor: pointer;

  @media screen and (width >= 800px) {
    height: 2.75rem;
  }
}
