@import url("../../variables.css");

.navbar-container {
  position: relative;
  align-items: center;
  display: flex;
  justify-content: space-between;
  min-height: calc(var(--navbar-size) - 1rem);
  max-height: var(--navbar-size);
  padding: calc(var(--nav-vertical-padding) / 2) var(--nav-horizontal-padding);

  a {
    display: flex;
    gap: 0.25rem;
    align-items: center;
  }
}

.menu-button {
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  max-width: var(--nav-menu-size);
  max-height: var(--nav-menu-size);
  min-height: calc(var(--nav-menu-size) - 1rem);
  padding: 0;
  cursor: pointer;

  .burger-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    top: 0;
    width: 100%;
    height: 2.5rem;

    span {
      display: block;
      background-color: var(--secondary-color);
      position: relative;
      top: 0;
      width: 2.5rem;
      height: 4px;
      border-radius: 10px;
      transition: all 300ms ease-in-out;
    }

    &.open span {
      &:first-of-type {
        transform: rotate(45deg);
        top: 0.6875rem;
      }

      &:nth-of-type(2) {
        opacity: 0;
      }

      &:last-of-type {
        transform: rotate(-45deg);
        top: -0.6875rem;
      }
    }
  }
}

#navlinks {
  margin: 0;
  position: absolute;
  top: calc(var(--nav-menu-size) + var(--nav-vertical-padding) + 0.5rem);
  left: var(--nav-horizontal-padding);
  background-color: var(--main-color);
  color: var(--secondary-color);
  border-radius: var(--medium-border-radius);
  padding: 1em;
  line-height: 2em;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0.25rem;
  }
}

#navlinks-desktop {
  margin: 0;
  width: 100%;

  ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: space-evenly;
  }
}

.logout {
  font-family: exo, sans-serif;
  font-size: 1em;
  border: none;
  background-color: transparent;
  color: var(--secondary-color);
  padding: 0;

  &:hover {
    text-decoration: underline;
  }
}

.helloText {
  text-align: center;
  max-width: 10ch;
  overflow: hidden;
  text-overflow: ellipsis;
}
